<h1>All customers in alphabetic order</h1>
<%= link_to "Home", root_path %>
<%= link_to "Missing email", missing_email_customers_path %>

<div class="container">
  <% @customers.each do |customer| %>
    <%= render "customer", customer: customer %>
  <% end %>
</div>
