<h1>All customers missing email</h1>
<%= link_to "Home", root_path %>
<%= link_to "Alphabetized", alphabetized_customers_path %>

<div class="container">
  <% @customers.each do |customer| %>
    <%= render "customer", customer: customer %>
  <% end %>
</div>
